APP_EXTERNAL_PORT="5365"
APP_ENVIRONMENT="Development"
APP_TOKEN_KEY="A key used to sign tokens"
APP_ACCESS_TOKEN_LIFETIME_IN_MINUTES="5"
APP_REFRESH_TOKEN_LIFETIME_IN_DAYS="7"

DB_EXTERNAL_PORT="5367"
DB_INTERNAL_PORT="5432"
DB_PASSWORD="postgres"

PGADMIN_EXTERNAL_PORT="5366"
PGADMIN_EMAIL="postgres@fake-mail.com"
